
beautifulsoup4==4.14.3
chromadb==1.5.9
es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0-py3-none-any.whl#sha256=e451a83d6df79b87e9eed0cb553f03e99e36a3bab18a7b79f0dcfd1fdf875e12
fastapi==0.136.1
gensim==4.4.0
huggingface_hub==1.13.0
joblib==1.5.3
lxml==6.0.2
lxml_html_clean==0.4.4
onnxruntime==1.25.1
pymongo==4.16.0
readability-lxml==0.8.4.1
scikit-learn==1.8.0
scipy==1.17.1
Scrapy==2.14.1
sentence-transformers==5.4.1
spacy==3.8.14
uvicorn==0.46.0
passlib[bcrypt]==1.7.4