 
spacy==3.7.4
scrapy==2.11.1
pymongo==4.6.3
chromadb==0.5.11
 # --- Modelos de spaCy ---
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl
